* {
  outline: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  overflow-x: hidden;
}
<<<<<<< HEAD
.btn {
  display: block;
  border: none;
  width: 170px;
  height: 40px;
  font-size: 12px;
  text-transform: uppercase;
  background: #ff5757;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  font-weight: 700;
  color: #fff;
=======
.container{
  @include wrapper;
  .cols{
    @include  row-flex;
    >div{
      @include  col;
      @include size(12);
    }
  }
>>>>>>> e9fce7371aa873950a4538e01f21d27a16f7df91
}