* {
  outline: none;
  font-family: "Ubuntu", sans-serif;
}
body {
  overflow-x: hidden;
}
.container{
  @include wrapper;
  .cols{
    @include  row-flex;
    >div{
      @include  col;
      @include size(12);
    }
  }
}