mixin list
    ul
        li.help__li1 Учет запасных частей и материалов
        li.help__li2 Заказ-наряды и история ремонта
        li.help__li3
            | Нормы
            br
            | времени ремонта
        li.help__li4 Запись на ремонт и CRM
.help
    h2.help__h2 помощь в оптимизации автобизнеса
    +list