.solutions
    h2.solutions__h2
        | МЫ РАЗРАБОТАЛИ ГОТОВЫЕ РЕШЕНИЯ
        br
        | ДЛЯ ВАШЕГО БИЗНЕСА
    .solutions__scroll.dragscroll
        .solutions__container
            .solutions__item.solutions__item1
                .solutions__title Магазинам автозапчастей
                ul.solutions__ul
                    li Учет запасных частей
                    li Каталог запчастей
                a.solutions__btn(href="#") демоверсия
                a.solutions__link(href="#") Подробнее
            .solutions__item.solutions__item2
                .solutions__title Автосервисам
                ul.solutions__ul
                    li Учет запасных частей
                    li Учет работ на СТО
                    li Контроль рабочего времени
                    li Расчет стоимости ремонта
                    li Каталог запчастей
                a.solutions__btn(href="#") демоверсия
                a.solutions__link(href="#") Подробнее
            .solutions__item.solutions__item3
                .solutions__title интерент-магазинам
                ul.solutions__ul
                    li Продажа и покупка запчастей
                    li
                        | 16000 моделей
                        br
                        | от 93 производителей
                a.solutions__btn(href="#") демоверсия
                a.solutions__link(href="#") Подробнее
