.system {
  background: #ecf4f9;
  padding: 0 0 40px;
  @include sm(padding, 0 0 30px);
  &__container {
    max-width: $container-width;
    padding: 0 45px;
    @include sm(padding, 0 15px);
    margin: 0 auto;
  }
  &__text {
    width: 415px;
    float: left;
    margin: 170px 0 0;
    @include md(width, 315px);
    @include md(margin-top, 130px);
    @include sm(margin, 28px auto 0);
    @include sm(width, auto);
    @include sm(text-align, center);
    @include sm(max-width, 290px);
    @include sm(float, none);
    img {
      display: none !important;
      @include sm(max-width, 230px);
      @include sm(display, block !important);
      @include sm(width, 80% !important);
      @include sm(margin, 0 auto);
    }
  }
  &__h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2px;
    margin: 0;
    @include md(font-size, 40px);
    @include sm(font-size, 25px);
    @include sm(margin, 0 auto 5px);

  }
  &__p {
    font-size: 18px;
    font-weight: 300;
    padding: 40px 0 0;
    letter-spacing: 1px;
    line-height: 1.5;
    @include md(font-size, 14px);
    @include sm(padding-top, 10px);
    @include sm(font-size, 12px);
    span {
      color: #7da8e2;
      margin: 0 5px;
    }
  }
  &__btn {
    margin: 50px 0 0;
    @include sm(margin, 22px auto 30px);
    &:hover, &:active {
      opacity: 0.9;
    }
  }

  .owl-carousel .owl-item .item > img {
    margin: 80px 0 0 0;
    float: right;
    width: 50%;
    @include lg(margin-left, 20px);
    @include md1040(width, 40%);
    @include sm(display, none);
  }
  .owl-carousel .owl-nav button.owl-prev {
    background: url(../images/arrow.png) no-repeat 0 0;
    font-size: 0;
    width: 11px;
    height: 17px;
    position: absolute;
    top: 370px;
    left: -35px;
    transform: rotate(180deg);
    @include lg(top, 300px);
    @include sm(display, none);
  }
  .owl-carousel .owl-nav button.owl-next {
    background: url(../images/arrow.png) no-repeat 0 0;
    font-size: 0;
    width: 11px;
    height: 17px;
    position: absolute;
    top: 370px;
    right: -44px;
    @include lg(top, 300px);
    @include sm(display, none);
  }
  .owl-dots {
    text-align: center;
    margin-top: -6px;
    button {
      background: #fff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin: 0 7px;
    }
    .active {
      background: #7dabd1;
    }

  }
}