.system
    .system__container
        .owl-carousel.owl-theme
            .item
                .system__text
                    .system__h1 Система «jetstyle»
                    img(alt="", src="images/diagram.png")
                    .system__p
                        | Предназначена для автоматизации вашего автобизнеса. Это гибкая программа, состоит из
                        span 6 модулей,
                        | каждый из которых вы можете приобрести по отдельности.

                    a.system__btn(href="#") Подробнее
                img(alt="", src="images/diagram.png")
            .item
                .system__text
                    .system__h1 Система «jetstyle»
                    img(alt="", src="images/diagram.png")
                    .system__p
                        | Предназначена для автоматизации вашего автобизнеса. Это гибкая программа, состоит из
                        span 6 модулей,
                        | каждый из которых вы можете приобрести по отдельности.

                    a.system__btn(href="#") Подробнее
                img(alt="", src="images/diagram.png")
            .item
                .system__text
                    .system__h1 Система «jetstyle»
                    img(alt="", src="images/diagram.png")
                    .system__p
                        | Предназначена для автоматизации вашего автобизнеса. Это гибкая программа, состоит из
                        span 6 модулей,
                        | каждый из которых вы можете приобрести по отдельности.

                    a.system__btn(href="#") Подробнее
            .item
                .system__text
                    .system__h1 Система «jetstyle»
                    img(alt="", src="images/diagram.png")
                    .system__p
                        | Предназначена для автоматизации вашего автобизнеса. Это гибкая программа, состоит из
                        span 6 модулей,
                        | каждый из которых вы можете приобрести по отдельности.

                    a.system__btn(href="#") Подробнее
                img(alt="", src="images/diagram.png")