.block
    h2.block__h2
        | МЫ РАЗРАБОТАЛИ ГОТОВЫЕ РЕШЕНИЯ
        br
        | ДЛЯ ВАШЕГО БИЗНЕСА
    .block__scroll.dragscroll
        .block__container
            .block__item.block__item1
                .block__title Магазинам автозапчастей
                ul.block__ul
                    li Учет запасных частей
                    li Каталог запчастей
                a.block__btn.btn(href="#") демоверсия
                a.block__link(href="#") Подробнее
            .block__item.block__item2
                .block__title Автосервисам
                ul.block__ul
                    li Учет запасных частей
                    li Учет работ на СТО
                    li Контроль рабочего времени
                    li Расчет стоимости ремонта
                    li Каталог запчастей
                a.block__btn.btn(href="#") демоверсия
                a.block__link(href="#") Подробнее
            .block__item.block__item3
                .block__title интерент-магазинам
                ul.block__ul
                    li Продажа и покупка запчастей
                    li
                        | 16000 моделей
                        br
                        | от 93 производителей
                a.block__btn.btn(href="#") демоверсия
                a.block__link(href="#") Подробнее
