.menu
    .menu__icon
    .menu__container
        ul
            li
                a(href="#") Решения для бизнеса
            li
                a(href="#") Программы
            li
                a(href="#") Демоверсии
            li
                a(href="#") Техподдержка
            li
                a(href="#") База знаний
            li
                a(href="#") О компании
        a.menu__download(href="#") Скачать демоверсию
        .menu__card
            span 4