.header
    .header__container
        .header__logo
            img(alt="", src="images/logo.png")
        ul.header__list
            li Екатеринбург
              span 7 (343) 237-23-19
            li Москва
              span +7 495( 789-37-36
            li Санкт-Петербург
              span +7 (812) 716-4-888
        a.header__link(href="#") Продлить лицензию
        a.header__search(href="#")

