.form {
  overflow: hidden;
  &__container {
    width: 765px;
    margin: 92px auto 0;
    @include md(width, 300px);
    @include md(margin-top, 45px);

  }
  &__h2 {
    text-align: center;
    font-size: 32px;
    margin: 0 0 50px;
    @include md(font-size, 24px);
    @include md(margin-bottom, 30px);
  }
  &__p {
    font-size: 18px;
    color: #6f727f;
    text-align: center;
    padding: 0 50px 40px;
    @include md(font-size, 14px);
    @include md(padding, 0 0 20px);
  }
  &__col {
    width: 168px;
    @include md(width, 139px);
    @include md(margin-right, 20px);
    margin-right: 30px;
    float: left;
  }
  &__col:nth-child(2n) {
    @include md(margin-right, 0);

  }
  &__col:last-child {
    margin-right: 0;
    float: right;
  }
  &__btn {
    margin: 0 auto 150px;
    position: relative;
    top: 40px;
    @include md(top, 10px);
    &:hover {
      opacity: 0.9;
    }
  }




}